extends layout

block content
  
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type='text/javascript').
        function mOver(obj) {
          var index = obj.attributes.aindex.value;
          var picname = obj.attributes.apicname.value;
          var imgNode = document.getElementById("quick_img");
          imgNode.src="/picDirs/picRepository/" + index + "/" + picname;
          imgNode.style.display = "block";
        }
        function mOut(obj) {
          return;
          var index = obj.attributes.aindex.value;
          var imgNode = document.getElementById("quick_img");
          imgNode.style.display = "none";
          imgNode.src="";

        }
        function onLoad() {
            console.log(window);
            document.getElementById("img_container").style.height = window.innerHeight + "px";
        }
    div(class="left_list")
        p Welcome to #{title}
        each val in picList
          p
            a(href="/picDirs/picContent?picpage=" + val.index,
                onmouseover="mOver(this)", onmouseout="mOut(this)", 
                aindex=val.index, apicname=val.firstPic      
            )= val.name
    div(id="img_container", class="imc_container")
      img(
        id="quick_img" 
        class="littleimg"
        src="/picDirs/picRepository/1/1.jpg"
      )

